<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>BURGERS</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
</head>

<body>
    {{!-- source for my background burger image on lines 15-24 --}}
    {{!-- SOURCE: https://codepen.io/elmzarnsi/embed/jBevgr?height=300&theme-id=27172&slug-hash=jBevgr&default-tab=result&animations=run&editable=&embed-version=2&user=elmzarnsi&name=cp_embed_1 --}}
    <div class="canvas">
        <div class="burger">
            <div class="shadow"></div>
            <div class="bun top">
            </div>
            <div class="tomatoes"></div>
            <div class="patty"></div>
            <div class="bun bottom"></div>
            <div class="lettuce"></div>
            <div class="cheese"></div>
            <div class="cheese_drip"></div>
        </div>
    </div>


    {{{ body }}}


</body>

</html>